<style type="text/css">
	.login-form {
		width: 500px;
    	margin: 50px auto;
	}
    .login-form form {
    	margin-bottom: 15px;
        background: #f7f7f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
    .login-form h2 {
        margin: 0 0 15px;
    }
    .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
    }
    .btn {        
        font-size: 15px;
        font-weight: bold;
    }
</style>

<div class="login-form">
<div class="row">
<div class="col-md-6 col-md-offset-3">
  <%= form_for(:operacion, url: "operacion/create") do |f| %>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <div class="form-group">
    <%=image_tag(@idServicio, size: "100x100")%>
    </div>
    <%= f.hidden_field :msisdn,:name =>'msisdn', :value => @msisdn %>
    <%= f.hidden_field :servicio,:name =>'servicio', :value => @idServicio %>
    <div class="form-group">
    <%= f.submit "Suscribirse", class: "btn btn-primary" %>
    </div>
    <% end %>
    </div>
    </div>
  </div>